@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1>Guess The Language</h1>
    <div class="sentence-display">
        <p><em>@Model.TargetSentence</em></p>
    </div>
</div>